@model IEnumerable<Igreja.Com.Dominio.Entidades.Oferta>

@{
    Layout = null;
}
<thead class="text-primary">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateTime)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Observacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateTime)
            </td>
            <td class="td-actions text-right">
                <button type="button" rel="tooltip" title="Editar Oferta" class="btn btn-primary btn-link btn-sm">
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="material-icons">edit</i>Editar  </a>
                </button>
                <button type="button" rel="tooltip" title="Remove Oferta" class="btn btn-danger btn-link btn-sm">
                    <i class="material-icons">close</i><a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                </button>
            </td>
        </tr>
    }
</tbody>
