@model IEnumerable<Igreja.Com.Dominio.Entidades.Membro>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Lista de Membros</h4>
                    <div class="row">
                        <p class="card-category">
                            <a asp-action="Create" asp-controller="Membros">
                                <i class="material-icons">add</i>Novo Membro <div class="ripple-container"></div>
                            </a>
                        </p>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nome)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Sexo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EstadoCivil)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cpf)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sexo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EstadoCivil)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cpf)
                                        </td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Editar Membro" class="btn btn-primary btn-link btn-sm">
                                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="material-icons">edit</i>Editar  </a>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove Membro" class="btn btn-danger btn-link btn-sm">
                                                <i class="material-icons">close</i><a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                                            </button>
                                        </td>
                                    
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
