@model IEnumerable<Igreja.Com.Dominio.Entidades.Membro>

@{
    ViewData["Title"] = "Index";
}

@*<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">
        <button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>
        <span data-notify="icon"></span>
        <span data-notify="title">{1}</span>
        <span data-notify="message">{2}</span>
        <div class="progress" data-notify="progressbar">
            <div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
        </div>
        <a href="{3}" target="{4}" data-notify="url"></a>
    </div>*@
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Lista de Membros</h4>
                    <p class="card-category">
                        <a asp-action="Create" asp-controller="Membros">
                            <i class="material-icons">add</i>Novo Membro <div class="ripple-container"></div>
                        </a>
                    </p>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nome)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Sexo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EstadoCivil)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cpf)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sexo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EstadoCivil)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cpf)
                                        </td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="material-icons">edit</i>Editar  </a>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                                <i class="material-icons">close</i><a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                                            </button>
                                        </td>
                                        @*<td>
                                              |
                                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                                            </td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
