
<h2>Total Geral</h2>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">person</i>
                </div>
                <p class="card-category">Congregações:</p>
                <h3 class="card-title">@ViewBag.igrejasfiliais.Count</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">person</i>
                </div>
                <p class="card-category">Total Geral de Membros>
                <h3 class="card-title">@ViewBag.TotalGeral</h3>
            </div>
        </div>
    </div>
  
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">person</i>
                </div>
                <p class="card-category">Membros Homens:</p>
                <h3 class="card-title">@ViewBag.Membro.Count</h3>
            </div>
        </div>
    </div>
</div>
<h2>Local</h2>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">person</i>
                </div>
                <p class="card-category">Membros Cadastrados:</p>
                <h3 class="card-title">
                    @ViewBag.Membro.Count
                </h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">person</i>
                </div>
                <p class="card-category">Membros Ativos:</p>
                <h3 class="card-title">@ViewBag.Membro.Count</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">person</i>
                </div>
                <p class="card-category">Membros Jovens:</p>
                <h3 class="card-title">@ViewBag.Membro.Count</h3>
            </div>
        </div>
    </div>
</div>